{% extends "main/base.html" %}
{% block title %}Смена пароля{% endblock title %}


{% block content %}

<div class="d-flex justify-content-center align-items-center login-form">
  <form method="post" class="p-4 bg-white rounded shadow login-card">
      <h4 class="mb-3">Смена пароля</h4>
      {% csrf_token %}

      {% include "main/messages.html" %}

      {{ form.as_p }}
      
      <button type="submit" class="btn btn-primary w-100 mt-3">Сменить пароль</button>
  </form>
</div>

{% endblock content %}